*.html
*.pdf
*.redxml
*.swp
*.upload
*~
.includes.mk
.tags
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.idea/
/.refcache
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-ietf-lamps-cms-composite-sigs.xml
draft-ietf-lamps-cms-composite-sigs.txt
lib/
package-lock.json
report.xml
!requirements.txt
